@charset 'UTF-8';


@font-face {
    font-family: 'Press';
    src: url(fonts/Press_Start_2P/PressStart2P-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Bebas';
    src: url(fonts/Bebas_Neue/BebasNeue-Regular.ttf) format(truetype);
    font-weight: normal;
}

@font-face {
    font-family: 'Akira';
    src: url(fonts/akira_expanded/akira.otf) format(opentype);
}

:root {
    --cor1:#2e2e2e44;
    --cor2: #252525;
    --cor3: #1b1b1b;
    --fonte-principal: 'Press';
    --fonte-secundaria: 'Bebas';
}

html {
    height: 130%;
}

body {
    background-color: var(--cor3);
    margin: 0px;
}

header {
    padding: 10px 0px;
    background-color: var(--cor1);
    height: 230px;
    min-width: 500px;
    max-width: 1000px;
    margin: auto;
    border-radius: 10px;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 40px;
}

header > h1 {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 30px;
    color: white;
    font-family: 'Akira';
    font-size: clamp(4rem, 8vw, 6.5rem);
    text-shadow: 2px 2px 7px #0D1117, -2px 2px 7px #0D1117;
    animation: sosastore 2.5s ease-in-out;
    
}

header > p {
    text-align: center;
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 7px #0D1117, -2px 2px 7px #0D1117;
    color: white;
    animation: sosastore 2s ease-in-out;
}

@keyframes sosastore {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

nav {
    display: block;
    margin: auto;
    text-align: center;
    background-color: var(--cor2);
    padding: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    color: white;
}

nav > button {
    background-color: rgba(68, 68, 121, 0);
    font-size: 18px;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    transition: background-color 0.7s, transform 0.7s;
    cursor: pointer;
}

nav > button:hover {
    background-color: rgba(255, 255, 255, 0.089);
    transform: scale(1.05);
}

nav > button > a{
    color: white;
    text-decoration: none;
}

main {
    background-color: rgba(34, 34, 34, 0.185);
    border: 1px solid #ffffff41;
    padding: 20px;
    margin: auto;
    border-radius: 5px;
    min-width: 320px;
    max-width: 800px;
}

main > h2 {
    font-size: 30px;
    font-family: 'Bebas';
    color: white;
    text-shadow: 2px 2px 5px black;
    transition: transform 0.6s, background-image 1s;

}

main > h2:hover {
    transform: translateX(10px);
    background-image: linear-gradient(to right, #ffffff44, transparent, transparent);
    padding-left: 4px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

main > p {
    text-indent: 30px;
    word-spacing: 2px;
    font-size: 20px;
    text-align: justify;
    line-height: 1.5em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242424;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 500px;
    margin: auto;
    margin-top: 80px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer p {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 5px;
}

span {
    text-decoration: underline;
    transition: 0.4s;
    color: #488ec7;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span:hover {
    background-color: #1a4c8d2f;
    padding: 6px;
    border: none;
    border-radius: 5px;
}

aside {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    color: white;
    border: 1px solid #ffffff41;
    background-color: rgb(32, 32, 32);
    border-radius: 5px;
    max-width: 800px;
    min-width: 320px;
    height: 300px;
}

aside h3 {
    color: white;
    font-family: 'Bebas';
    border: 1px solid #334d96;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.349);
    margin-top: -1px;
    margin-left: -1px;
    font-size: 25px;
    padding: 3px 10px;
    background-color: #29466b;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

aside button {
    all: unset;
    display: block;
    background-color: #3b4e69;
    font-size: clamp(2.5rem, 8vw, 3.5rem);
    font-family: 'Akira';
    padding: 10px;
    border-radius: 10px;
    margin: auto;
    margin-top: 75px;
    cursor: pointer;
}

aside img {
    height: 1em;
    width: auto;
    padding: 0px 10px;
    transform: translateY(6px);
}

.dc {
    color: white;
    text-decoration: none;
}

.dc:hover {
    color: #90a1ff;
    transition: all 0.5s;
}

strong {
    color: #999999;
}
